
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>패션노트 이용약관</title>
<meta name="description" content="패션노트 앱 서비스의 이용약관입니다.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div id="privacypolicy" class="wrap">
		<div class="main-03">
			<div class="terms">

				<strong>패션노트 이용약관</strong></br> </br> <strong>제1장 총칙</strong></br> </br> <strong>제1조
					(목적)</strong></br> 본 약관은 상미비 주식회사(이하 "회사"라고 합니다)가 제공하는 패션노트에 관한 모든 서비스 (이하 “서비스”라
				합니다)를 이용함에 있어 회사와 이용자 간의 권리, 의무 및 책임 사항과 절차 등을 정하기 위해 만들어졌습니다.</br> </br> <strong>제2조
					(용어의 정의)</strong></br> 이 약관에서 사용하는 용어의 정의는 다음과 같습니다</br> </br> 2.1. “이용고객”이란 회사가 제공하는 서비스를
				이용하기 위하여 앱스토어사업자 또는 플랫폼사업자가 운영하는 앱스토어마켓에서 어플리케이션을 다운로드 받은 자를 의미합니다.</br>
				</br> 2.2. “이용자”란 본 약관 및 개인정보처리방침에 동의하고 회사가 제공하는 서비스 이용자격을 부여받은 이용고객을
				의미합니다.</br> </br> 2.3. “앱스토어사업자”란 회사가 제공하는 어플리케이션을 다운로드 받을 수 있도록 하는 오픈마켓 사업자를
				의미합니다.</br> </br> 2.4 “SNS 플랫폼사업자”란 SNS 서비스를 제공하는 사업자로서 본 서비스와의 가입 연동 기능이 갖추어진
				사업자를 의미합니다.</br> </br> 2.5. "콘텐츠"란 부호, 문자, 도형, 색채, 음성, 음향, 이미지 및 영상 등의 자료 또는
				정보를 의미합니다.</br> </br> 2.6. “게시물"이란 이용자가 본 서비스에 투고, 송신, 업로드한 콘텐츠를 의미합니다.</br> </br> 2.7.
				“게시자"란 서비스에 게시물을 투고, 송신, 업로드한 자를 의미합니다.</br> </br> 2.8. “ID"란 이용자 식별과 서비스 이용을
				위해 회사에서 해당 이용고객에게 발급하는 문자, 특수문자 숫자 등의 조합을 의미합니다.</br> </br> </br> <strong>제3조
					(회사 정보 등의 제공)</strong></br> 회사는 다음 각호의 사항을 서비스 초기화면이나 회사의 웹사이트에 게시하여 이용고객이 이를 쉽게
				알 수 있도록 합니다. 다만, 본 약관 및 개인정보처리방침은 이용고객이 연결화면을 통하여 볼 수 있도록 할 수 있습니다.</br>
				</br> 3.1. 상호 및 대표자의 성명</br> </br> 3.2. 영업소 소재지 주소 (이용고객의 불편, 불만, 건의사항을 처리할 수 있는 곳의
				주소를 포함한다) 및 전자우편주소</br> </br> 3.3. 전화번호, 팩스 번호</br> </br> 3.4. 사업자등록번호</br> </br> 3.5. 개인정보처리방침</br> </br>
				3.6. 서비스이용약관</br> </br> <strong>제4조 (약관의 효력 및 개정)</strong></br> 4.1. 회사는 본 약관 및
				개인정보처리방침을 이용자가 확인할 수 있도록 회사의 웹사이트에 게시하거나 서비스 이용을 위한 어플리케이션 내의 연결화면
				등을 통해 이용자에게 공지함으로써 효력이 발생합니다.</br> </br> 4.2. 회사는 관련 법령의 변경이나 이용자의 권리 및 의무사항을
				개선하기 위해 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「정보통신망이용촉진 및
				정보보호 등에 관한 법률」, 「콘텐츠산업진흥법」 등 관련 법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</br> </br>
				4.3. 회사가 약관을 개정하는 경우, 적용일자, 개정내용, 개정사유를 명시하여 그 적용일 7일 이전부터 회사 웹사이트나
				서비스를 통해 이용자에게 공지합니다. 다만, 이용자의 권리와 의무에 중대한 영향을 미치는 개정내용에 대하여는 그 적용일
				30일 이전부터 공지합니다.</br> </br> 4.4. 이용자는 개정된 약관에 동의하지 않을 수 있으며, 개정된 약관에 동의하지 않는
				경우에는 이용을 중단하고 서비스를 탈퇴할 수 있습니다. 다만, 제 3항의 방법으로 약관의 개정을 공지하며 이용자가 별도의
				의사표시를 하지 않으면 승낙한 것으로 본다고 명확히 공지하였음에도 불구하고, 개정된 약관의 적용일 전일까지 회사에 대해
				명시적으로 의사표시를 하지 아니하는 경우 또는 이용자가 개정된 약관의 적용일 이후에도 서비스를 계속 이용하는 경우에는
				개정된 약관에 동의한 것으로 봅니다.</br> </br> </br> <strong>제5조 (약관 외 준칙)</strong></br> 5.1. 회사는 유료
				서비스 및 개별 서비스에 대해 별도의 이용약관 또는 정책(이하 "별도 약관 등")을 둘 수 있으며, 그 내용이 본 약관과
				충돌하는 경우 "별도 약관 등"이 우선하여 적용됩니다.</br> </br> 5.2. 본 약관에서 정하지 않은 사항이나 해석에 대하여는 별도
				약관 등 및 관련 법령 또는 상관례에 따릅니다.</br> </br> </br> <strong>제2장 서비스 이용계약</strong></br> <strong>제6조
					(이용계약의 체결)</strong></br> </br> 6.1. 서비스의 이용계약은 이용고객이 본 약관 및 개인정보처리방침에 동의하고 이용신청을 하면
				회사가 이를 수락함으로써 체결됩니다. 필요한 경우, 회사는 본인 확인 기관을 통한 실명확인 및 본인인증을 요청할 수
				있습니다.</br> </br> 6.2. 이용자는 서비스 이용신청 또는 이용 시 진실한 정보를 기재하여야 하며, 허위의 정보를 기재하거나
				타인의 정보를 도용하는 경우, 본 약관에 의한 이용자의 권리를 주장할 수 없고 서비스 이용에 제한이 있을 수 있으며,
				나아가 그로 인한 불이익 및 법적 책임은 해당 이용자에게 있습니다. 이는 이용자가 SNS 플랫폼 사업자에 정보를 제공하고,
				SNS 플랫폼 사업자를 통해 서비스에 가입하는 경우에도 동일하게 간주됩니다.</br> </br> 6.3. 회사는 서비스 관련 설비의 여유 및
				기타 기술상 또는 업무상의 이유로 이용계약의 승낙을 유보할 수 있으며, 그 결과를 가입신청자에게 알려드립니다.</br> </br> 6.4.
				회사는 다음 각호의 어느 하나에 해당하는 이용신청에 대해서는 승낙을 하지 않을 수 있습니다.</br> </br> 6.4.1. 이용자 1인당
				1개 초과의 계정을 생성하는 경우</br> </br> 6.4.2. 개인정보를 허위로 제공하거나 타인의 정보를 도용한 경우</br> </br> 6.4.3. 최근
				3개월 내 이용제한 기록이 있거나, 서비스 운영정책에 따라 서비스 이용제한(영구제한)을 받은 이용자가 이용신청을 하는 경우</br>
				</br> 6.4.4. 회사에서 아직 서비스를 제공할 것으로 결정하지 않은 국가에서 서비스를 이용하는 경우 중 서비스 제공을 제한할
				필요가 있는 경우</br> </br> 6.4.5.관계 법령에서 금지하는 위법행위를 할 목적으로 이용신청을 하는 경우</br> </br> 6.4.6. 그 밖에
				제3호 내지 제5호에 준하는 사유로서 승낙이 부적절하다고 판단되는 경우</br> </br> <strong>제7조 (이용자
					계정 관리)</strong></br> </br> 7.1. 이용고객이 서비스를 이용하기 위해서 서비스 계정("계정")을 개설하여야 하며, 계정 개설 시
				정확하고 완전한 정보를 제공하고, 정보에 변동이 있는 경우 이를 계정 정보에 반영 해야합니다.</br> </br> 7.2. 회사는 부정한
				방법으로 무분별하게 계정이 생성되는 것을 방지하기 위해 페이스북, 구글, 네이버, 카카오톡 등의 SNS 가입 연동 기능을
				제공합니다. 해당 SNS의 계정 정보는 서비스 내 이용자 본인을 제외한 타 이용고객에게 노출되지 않습니다.</br> </br> 7.3. 본
				서비스는 SNS 계정 당 하나의 계정만을 지원합니다.</br> </br> 7.4. 이용자는 자신의 계정을 선량한 관리자로서의 주의 의무를
				다하여 관리하여야 합니다. 회사는 이용자가 자신의 계정을 소홀히 관리하거나 제3자에게 이용을 승낙함으로써 발생하는 손해에
				대해 어떠한 책임도 부담하지 않습니다.</br> </br> 7.5. 이용자가 자신의 계정을 도난 당하거나 제3자가 사용하고 있음을 인지한
				경우, 즉시 회사에 통지하고 회사의 안내를 따라야합니다. 회사는 이용자가 이를 회사에 통지하지 않거나, 안내에 따르지 않아
				발생한 손해에 대해 어떠한 책임도 부담하지 않습니다.</br> </br> 7.6. 회사는 계정의 무단 도용으로 인하여 이용자가 입은 손실에
				대하여 책임을 부담하지 않습니다. 그러나 이용자의 계정의 무단 도용으로 인해 회사 또는 타인이 손해를 입게 된 경우, 해당
				이용자는 발생한 손해에 대해 책임을 질 수 있습니다.</br> </br> <strong>제8조 (이용고객에 대한 통지)</strong></br>
				8.1. 회사가 이용자에게 통지를 하는 경우 본 약관에 별도의 규정이 없는 한 서비스 이용신청 시 이용자가 등록한
				전자우편주소로 합니다.</br> </br> 8.2. 회사는 불특정다수 이용고객에 대한 통지의 경우 7일 이상 서비스 내 알림 메시지 또는
				공지사항에 게시함으로써 제7.1조의 통지에 갈음할 수 있습니다. 다만, 이용자의 권리 및 의무에 중대한 영향을 미치는
				사항에 대하여는 개별 통지합니다.</br> </br> 8.3. 이용자는 회사의 통지를 수신할 수 있도록 전자우편주소 등 본인의 정보를 항상
				최신으로 유지하여야 합니다. 정보 수정은 서비스 내에서 하거나 &nbsp;apfhdznzl@gmail.com 메일로 변경
				사항을 접수합니다. 이를 이행하지 않아 이용자에게 발생한 불이익에 대해서 회사는 책임을 지지 않습니다.</br> </br> <strong>제9조
					(이용계약의 종료)</strong></br> 9.1. 이용자는 언제든지 "서비스" 내 문의하기, 탈퇴하기 등을 통해 이용계약을 해지할 수
				있습니다. 이러한 경우, 이용계약은 이용자의 해지의사가 회사에 도달한 때에 종료됩니다.</br> </br> 9.2. 이용자가 이용계약을
				해지하거나 회사에 의하여 이용계약이 해지되는 경우, 이용자가 회사에 게시한 게시물을 포함한 모든 서비스 이용정보는 삭제되며
				복구할 수 없습니다. 다만, 다른 이용자에 의하여 스크랩, 공유가 된 게시물은 삭제되지 않을 수 있습니다.</br> </br> 9.3.
				회사는 이용자가 본 약관 및 별도 약관 등을 위반한 경우에 별도의 경고조치 없이도 이용자의 서비스 이용제한 및 일방적 계정
				해지를 할 수 있습니다.</br> </br> <strong>제10조 (회사의 계약 해지, 이용 제한 등)</strong></br> 10.1. 회사는
				다음의 경우 사전통보 없이 이용자와의 이용계약을 해지할 수 있습니다.</br> </br> 10.1.1. 이용자가 사망한 경우</br> </br> 10.1.2.
				본 약관 상의 의무 또는 법령에 위반되는 행위를 한 경우</br> </br> 10.2. 회사는 위의 사유가 있는 경우 자격 상실 대신 이용의
				제한을 가할 수 있습니다. 회사가 이용자의 계정을 비활성화하거나 해지하는 조치를 취할 경우 시의적절하게 이용자에게
				안내합니다. 계정이 실수로 해지되었다고 생각하는 경우, apfhdznzl@gmail.com 로 문의하십시오.</br> </br> 10.3.
				이용자가 서비스에서 공유하는 콘텐츠나 정보가 회사 정책에 위배된다고 판단되거나 법에 따라 삭제해야 할 경우 삭제될 수
				있습니다.</br> </br> 제3장 서비스</br> <strong>제11조 (서비스 내용)</strong></br> </br> 회사가 이용자에게 제공하는 서비스의
				기본 내용은 다음과 같습니다.</br> </br> 11.1. 콘텐츠 공유 기능 : 이용자가 콘텐츠를 게시하고, 이를 다른 사용자들과 공유할
				수 있는 기능이 제공됩니다.</br> </br> 11.2. 평가 기능 : 게시물에 대하여 이용자들 상호간의 평가와 의견을 공유할 수 있는
				기능이 제공됩니다.</br> </br> 11.3. 순위 기능 : 이용자들의 평가를 기반으로 특정 주제에 따른 게시물들의 순위를 보여주는
				기능이 제공됩니다.</br> </br> 11.4 회사가 추가 개발하거나 다른 회사와의 제휴계약 등을 통해 이용자에게 제공하는 일체의 서비스를
				포함합니다.</br> </br> <strong>제12조 (서비스의 변경)</strong></br> 12.1. 회사는 운영상, 기술상의 필요에 따라
				제공하는 서비스의 전부 또는 일부를 변경할 수 있으며, 이에 대하여 약관에 다른 규정이 없는 한 이용자에게 별도의 보상을
				하지는 않습니다.</br> </br> 12.2. 서비스를 변경하는 경우 변경사유 및 일자, 변경내용을 변경 7일 전 제8조에서 정한 방법으로
				공지합니다. 단, 변경사유 또는 내용을 구체적으로 공지하기 어려운 경우에는 그 이유를 밝힙니다.</br> </br> <strong>제
					13조 (서비스의 이용)</strong></br> </br> 13.1. 회사는 서비스를 무료로 제공하고 있으며 향후 일부 서비스가 유료로 제공될 수
				있습니다.</br> </br> 13.2. 이용자가 회사가 제공하는 유료 서비스를 이용하는 경우 이용대금을 납부한 후 이용하는 것을 원칙으로
				합니다. 회사가 제공하는 유료서비스에 대한 이용요금의 결제 방법은 인앱결제이며, 추후 핸드폰결제, 신용카드결제,
				일반전화결제, 계좌이체, 무통장입금, 선불전자지급수단 결제 등이 추가될 수 있습니다. 또한 각 서비스마다 결제 방법의
				차이가 있을 수 있습니다.</br> </br> 13.3. 회사는 결제의 이행을 위하여 필요한 이용자의 개인정보를 추가적으로 요구할 수
				있으며, 이용자는 회사가 요구하는 개인정보를 정확하게 제공하여야 합니다.</br> </br> 13.4. 이용자 개인의 귀책 사유로 이용
				요금을 환불하는 경우 일반적인 방법은 아래와 같습니다. 단, iOS 인앱 결제(In-App Purchase)의 경우 환불
				및 기타 처리절차는 앱스토어사업자의 규정에 따릅니다. 무상으로 제공된 서비스 이용권의 경우 환불 대상이 아니며 최종 환불
				금액이 1,000 원 이하인 경우에는 환불하지 않습니다. 또한, 이용자가 본 약관을 위반하여 회사가 이용자의 서비스 이용을
				제한하거나 계약을 해지하는 경우 회사는 이용자에게 일체의 환불을 하지 않습니다.</br> </br> 13.5. 환불에 대한 신청은 서비스 내
				문의하기 기능을 통해 접수하거나 apfhdznzl@gmail.com 메일로 접수 합니다.</br> </br> 13.6. 회사는 과오금이
				발생한 경우 또는 전액 환불의 경우 이용대금의 결제와 동일한 방법으로 환불하여야 합니다. 다만, 동일한 방법으로 환불이
				불가능하거나 서비스의 중도해지로 인한 부분 환불 등의 경우에는 회사가 정하는 별도의 방법으로 환불합니다. 회사는 환불
				의무가 발생한 날로부터 영업일 기준으로 3 일 이내에 환불을 진행하며, 환불이 불가능할 때에는 이를 사전에 고지합니다.
				환불에 소요되는 비용은 이용자의 귀책사유로 인한 환불의 경우에는 이용자가, 회사의 귀책사유로 인한 환불의 경우에는 회사가
				각각 부담합니다</br> </br> <strong>제14조 (서비스의 일시 중단)</strong></br> 14.1. 회사는 서비스 관련 설비의
				보수점검, 교체 및 고장, 통신두절 등 기술상 내지 업무상의 이유로 서비스의 제공을 일시적으로 중단할 수 있습니다. 이
				경우 사전에 통지함을 원칙으로 하지만, 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.</br> </br> <strong>제15조
					(서비스의 종료)</strong></br> 15.1. 회사는 경영상의 이유로 서비스를 종료할 수 있으며, 서비스를 종료하고자 하는 날로부터 3개월
				이전에 제4.3.조에서 정한 방법으로 이용고객에게 통지합니다.</br> </br> 15.2. 서비스 종료 통지일로부터 종료일까지 서비스의
				일부가 제한될 수 있습니다.</br> </br> <strong>제16조 (정보의 제공 및 광고의 게재)</strong></br> 16.1 회사는
				서비스를 운영함에 있어서 각종 정보를 서비스 화면에 게재하거나 이메일 등의 방법으로 이용자에게 제공할 수 있습니다.</br> </br>
				16.2 회사는 서비스의 운영과 관련하여 광고 등을 서비스화면에 게재하거나, 이메일을 통하여 발송할 수 있습니다. 다만,
				이용자에게 이메일을 발송하는 경우, 이용자는 수신거부를 할 수 있습니다.</br> </br> 16.3. 이용고객이 서비스 상에 게재되어 있는
				광고를 이용하거나 서비스를 통한 광고주의 판촉 활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로
				이용고객과 광고주 간의 문제입니다. 만약 이용고객과 광고주간에 문제가 발생한 경우 이용고객과 광고주가 직접 해결하여야
				하며, 이와 관련하여서는 회사는 어떠한 책임도 지지 않습니다.</br> </br> </br> <strong>제4장 계약 당사자의 의무</strong></br>
				<strong>제17조 (회사의 의무)</strong></br> </br> 17.1. 회사는 관련 법령을 준수하고, 본 약관이 정하는 권리의
				행사와 의무의 이행을 신의에 따라 성실하게 합니다.</br> </br> 17.2. 회사는 계속적이고 안정적으로 서비스를 제공하기 위하여
				최선을 다합니다.</br> </br> 17.3. 회사는 이용자의 개인정보 보호를 위하여 보안시스템을 갖추며 개인정보처리방침을 공시하고
				준수하겠습니다.</br> </br> 17.4. 회사는 서비스 이용과 관련한 이용자의 의견이나 불만사항 등을 경청하며, 정당하다고 객관적으로
				인정될 경우에는 합리적인 기간 내에 신속하게 처리하여야 합니다. 다만, 처리에 장기간이 소요되는 경우에는 이용자에게 그
				사유와 처리일정을 별도로 고지합니다.</br> </br> 17.5. 회사는 이용계약의 체결, 계약사항의 개정 및 해지 등 이용자와의 계약
				관련 절차 및 내용 등에 있어 이용자에게 편의를 제공하도록 노력합니다.</br> </br> <strong>제18조 (이용자의
					의무)</strong></br> </br> 18.1. 이용자는 회사가 제공하는 서비스를 서비스 본래의 이용 목적 이외의 용도로 사용하거나 다음 각 호에
				해당하는 행위를 하여서는 안됩니다.</br> </br> 18.1.1. 회사에 허위정보를 제공하거나 타인의 정보를 도용하는 행위</br> </br>
				18.1.2. 타인에 대한 허위정보를 게시하거나 타인과의 관계를 허위로 명시하는 행위</br> </br> 18.1.3. 회사의 지적재산권,
				제3자의 지적재산권, 초상권 등 기타 권리를 침해하거나 회사의 승인을 받지 않고 다른 이용자의 개인정보를 수집, 저장,
				유포, 게시하는 행위</br> </br> 18.1.4. 회사와 기타 제3자의 명예를 훼손하거나 손해를 가하는 행위</br> </br> 18.1.5. 회사의
				동의 없이 영리, 영업, 광고, 정치활동, 불법 선거운동 등을 목적으로 서비스를 사용하는 행위</br> </br> 18.1.6. 회사의
				서비스를 이용하여 얻은 정보를 회사의 사전 승낙 없이 복제, 유통, 조작하거나 상업적으로 이용하는 행위</br> </br> 18.1.7.
				알려지거나 알려지지 않은 버그를 악용하여 서비스의 정상적인 운영을 방해하는 행위</br> </br> 18.1.8. 제3자를 기망하여 이득을
				취하거나 제3자에게 피해를 주는 행위</br> </br> 18.1.9. 외설적이고 저속한 정보를 교류, 게시하거나 음란 사이트를
				연결(링크)하는 행위</br> </br> 18.1.10. 폭력적인 정보를 교류, 게시하는 행위</br> </br> 18.1.11. 재물을 걸고 도박하는 등
				사행행위를 유도하거나 참여하는 행위</br> </br> 18.1.12. 수치심이나 혐오감 또는 공포심을 일으키는 콘텐츠를 상대방에게 전송,
				유포하는 행위</br> </br> 18.1.13. 관련 법령에 의하여 전송 또는 게시가 금지되는 소프트웨어 바이러스, 파일, 프로그램, 기타
				다른 컴퓨터 코드를 포함하고 있는 자료를 전송, 게시, 유포, 사용하는 행위</br> </br> 18.1.14 &nbsp;서비스의 정상적인
				운영을 방해할 목적으로 소프트웨어 바이러스, 파일, 프로그램, 기타 다른 컴퓨터 코드를 포함하고 있는 자료를 전송, 게시,
				유포, 사용하는 행위</br> </br> 18.1.15. 회사로부터 특별한 권리를 부여받지 않고 어플리케이션을 변경하거나 어플리케이션에 다른
				프로그램을 추가 또는 삽입하거나 서버를 해킹 또는 역설계하거나, 소스코드나 어플리케이션 데이터의 유출 및 변경하여 별도의
				서버를 구축하거나, 웹사이트의 일부분을 임의로 변경 또는 도용하는 행위</br> </br> 18.1.16. 회사의 직원이나 운영자를
				가장하거나 허위 정보를 유포하는 행위</br> </br> 18.1.17. &nbsp;"서비스"와 관련하여 "회사"를 사칭하거나 허위 정보를
				유포하는 행위</br> </br> 18.1.18. 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제44조의7조 등에서 금지하는 행위 등
				기타 불법적이거나 부당한 행위</br> </br> 18.2. 이용자는 회사의 웹사이트 또는 서비스 내의 공지사항을 통해 본 약관 등을 수시로
				확인하고 준수할 의무가 있습니다.</br> </br> 18.3. 이용자 계정에 관한 관리 책임은 이용자에게 있으며, 이를 제3자가 이용하도록
				하여서는 안됩니다.</br> </br> </br> <strong>제5장 콘텐츠</strong></br> <strong>제19조 (이용자의
					게시물)</strong></br> 19.1. 이용자가 작성한 게시물에 대한 모든 권리 및 책임은 이를 게시한 이용자에게 있으며, 회사는 이용자가
				게시하거나 등록하는 서비스의 내용물이 다음 각 항에 해당한다고 판단되는 경우에 사전통지 없이 삭제할 수 있고, 이에 대하여
				회사는 어떠한 책임도 지지 않습니다.</br> </br> 19.1.1. 타인(회사 및 콘텐츠와 연관된 제3자 포함)의 명예를 훼손하거나 근거
				없이 비방하는 내용</br> </br> 19.1.2. 욕설, 음란/외설적 내용, 폭력적인 내용 등 미풍양속에 반하는 내용</br> </br> 19.1.3.
				범죄에 결부됨이 의심되는 내용</br> </br> 19.1.4. 저작권을 포함한 타인(회사 및 콘텐츠와 연관된 제3자)의 지식재산권을
				침해하는 내용</br> </br> 19.1.5. 회사로부터 사전 승인을 받지 아니한 상업광고, 판촉내용</br> </br> 19.1.6. 근거 없이 공포심이나
				불안감을 지속적으로 유발하는 내용</br> </br> 19.1.7. 기타 선량한 풍속 및 사회질서에 반하는 내용</br> </br> 19.2. 이용자가
				제19.1.조를 위반하는 경우, 아래와 같은 조치가 취해질 수 있습니다.</br> </br> 19.2.1. 제19.1.조의 위반 사유가
				확인되었거나 일정 횟수 이상 신고를 받은 게시물에 대해서는 자동적으로 임시 삭제 조치가 취해질 수 있습니다. 단, 해당
				콘텐츠를 작성한 이용자는 자신의 콘텐츠가 제19.1.조의 위반 사유에 해당하지 않음을 소명하여 해당 조치를 해제할 수
				있습니다.</br> </br> 19.2.2. 회사는 제19.1.조의 위반 사유가 확인되었거나 일정 횟수 이상 신고를 받은 이용자에 대하여
				서비스의 이용을 제한할 수 있으며, 제13조에 따라 계정을 중지시키고 이용계약을 해지할 수 있습니다.</br> </br> 19.3. 회사는
				이용자의 게시물에 대해서는 적법성, 정확함, 진실성 등을 보증하지 않습니다.</br> </br> 19.4. 회사는 서비스의 홍보 내지 개선을
				위해 이용자의 게시물을 사용할 수 있으며, 이러한 목적 범위 내에서 이용자의 게시물에 대한 편집, 수정, 복제 등의 행위를
				할 수 있습니다.</br> </br> <strong>제20조 (저작권의 귀속 및 이용제한)</strong></br> </br> 20.1. 회사의 상표, 로고,
				서비스 및 광고 등 회사가 제작, 제공하는 것에 대한 지식재산권 등의 권리는 회사에 귀속합니다.</br> </br> 20.2. 이용고객은
				서비스를 이용함으로써 얻은 정보를 회사의 사전 승낙없이 복제, 송신, 출판,배포, 방송 기타 방법에 의하여 영리목적으로
				이용하거나 제3자에게 이용하도록 하여서는 아니 됩니다.</br> </br> 20.3.이용자가 서비스 내에 게시한 콘텐츠의 저작권은 해당
				게시물의 저작권에게 귀속됩니다.</br> </br> 20.4. 이용자는 본 서비스에 콘텐츠를 게시함으로써 회사가 서비스 관련하여 해당 콘텐츠
				(및 그 2차적 저작물)의 일부 또는 전부를 전세계적으로 비독점적으로 무상으로 사용할 권리 (이용, 공개, 반포,
				광고,출판, 복제, 공연, 공중송신, 전시, 배포, 대여, 2차저작물작성)를 허락하며 이를 양도할 수 있음에 동의한 것으로
				간주합니다. 또한, 게시자는 회사에 대해 저작인격권을 행사하지 않을 것에 동의한 것으로 간주합니다. 이는 서비스에 접속하고
				이를 이용하는 이용자들에게 서비스 이용을 가능하게 하기 위한 것으로, 콘텐츠 또는 계정을 삭제하여 언제든지 이러한 허가권을
				종료할 수 있습니다. 단, 이용자의 콘텐츠를 공유한 타인이 해당 콘텐츠를 삭제하지 않았을 경우, 해당 콘텐츠는 계속 보일
				수 있습니다.</br> </br> 20.5. 이용자는 회사에 본인의 닉네임, 프로필 사진 및 이용자의 활동(평점, 게시물 등) 또는
				관계(팔로우 또는 팔로잉 이용자 목록)에 대한 정보를 서비스 전반에 표시되는 계정, &nbsp;광고, 제안 및 이용자가
				팔로우하거나 참여하는 기타 홍보 콘텐츠와 함께 또는 이와 관련하여 표시할 수 있는 권한을 무상으로 부여합니다.</br> <strong>제6장
					개인정보의 수집</strong></br> <strong>제21조 (개인정보의 보호 및 관리)</strong></br> 21.1. 회사는 관련 법령이 정하는
				바에 따라서 이용자 계정을 포함한 이용자의 개인정보를 보호하기 위해 노력합니다. 이에 관해서는 관련 법령 및 회사의
				개인정보처리방침에 따릅니다.</br> </br> 21.2. 회사는 이용자의 귀책사유로 인하여 노출된 이용자 계정을 포함한 이용자의 개인정보에
				대해서 일체의 책임을 지지 않습니다.</br> </br> </br> <strong>제7장 손해배상 등</strong></br> <strong>제22조
					(손해배상)</strong></br> 22.1. 이용자가 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는 경우, 본 약관을 위반한
				이용자는 회사에 발생하는 모든 손해를 배상하여야 합니다.</br> </br> 22.2. 이용자가 서비스를 이용하는 과정에서 행한 불법행위나
				본 약관 위반행위로 인하여 회사가 당해 이용자 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받은
				경우 당해 이용자는 자신의 책임과 비용으로 회사를 면책시켜야 하며, 회사가 면책되지 못한 경우 당해 이용자는 그로인하여
				회사에 발생한 모든 손해를 배상하여야 합니다.</br> </br> 제23조 (면책)</br> 23.1. 회사는 서비스 관련 설비의 보수점검, 교체 및
				고장, 통신두절 등 기술상, 업무상의 이유로 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 사전에 통지함을
				원칙으로 하지만, 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.</br> </br> 23.2. 회사는 전시, 사변, 천재지변 또는
				이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우, 회사는 서비스 제공에 관한 책임이 면제됩니다.</br> </br> 23.3.
				회사는 이동통신 사업자가 네트워크 서비스를 중지하거나 정상적으로 제공하지 아니하여 손해가 발생한 경우에는 책임을 지지
				않습니다.</br> </br> 23.4. 회사는 이용자의 디바이스 환경으로 인하여 발생하는 제반 문제 또는 회사의 귀책사유가 없는 네트워크
				환경으로 인하여 발생하는 문제에 대해서는 책임을 지지 않습니다.</br> </br> 23.5. 회사는 이용자의 귀책사유로 인한 서비스 이용의
				장애에 대하여 책임을 지지 않습니다.</br> </br> 23.6. 회사는 이용자가 서비스를 이용하여 기대하는 점수, 순위 등을 얻지 못한
				것에 대하여 책임을 지지 않으며, 이로 인해 발생하는 불이익이나 손해에 대해서는 책임이 면제됩니다.</br> </br> 23.7. 회사는
				이용자가 본인의 개인 정보 등(이용자 계정 포함)을 변경하여 얻는 불이익 및 정보 상실에 대해서는 일체 책임을 지지
				않습니다.</br> </br> 23.8. 회사는 이용자가 게재한 콘텐츠 또는 이를 활용한 콘텐츠의 정확성이나 신뢰성 혹은 적절성에 대해
				어떠한 보증도 하지 않으며, 서비스를 통한 광고, 기타 정보 또는 제안의 결과로서 구매 또는 취득하게 되는 제3자의 제품
				또는 기타 정보 등의 질에 대해서도 어떠한 보증도 하지 않습니다.</br> </br> 23.9. 회사는 이용자간 또는 이용자와 제3자
				상호간에 회사의 서비스를 매개로 하여 발생한 분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해 발생 시 책임을 지지
				않습니다.</br> </br> <strong>제24조 (재판권 및 준거법)</strong></br> 24.1.서비스 이용과 관련하여 회사와 이용자
				간에 발생한 법적 분쟁은 대한민국 법을 준거법으로 합니다.</br> </br> 24.2. 회사와 이용자 간의 분쟁에 관한 소송은 민사소송법
				등 관련법령에서 정한 절차에 따른 법원을 관할법원으로 합니다.</br> </br> </br> [부칙]</br> 본 약관은 2021년 2월 1일부터 적용됩니다.</br>
				</br> </br> </br>

			</div>
		</div>
	</div>

</body>

</html>
